@{
    ViewData["Title"] = "Submit Info";
}

@model User

<div class="text-center">
    <h1>Enter your information</h1>
    <form asp-action="Submit" asp-controller="Home" method="post">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"><br>

        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName"></label>
        <input asp-for="LastName"><br>

        <span asp-validation-for="Age"></span>
        <label asp-for="Age"></label>
        <input asp-for="Age"><br>

        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email"><br>

        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password"><br>

        <button>Submit</button>
    </form>
</div>
